@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; } 

html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	-moz-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
	-o-text-size-adjust:100%;
	text-size-adjust:100%;
}

*.*::before, *::after; {
	box-sizing: inherit;
}

.masthead {
	overflow: hidden;
}

.nav {
	padding:0;
}

.nav li {
	display: block;
	color: #111;
}

.name {
	text-transform: uppercase;
	line-height: 1em;
	position: absolute;
	top: 80%;
	left: 50%;
	transform:translateX(-50%);
	color: #fff;	
}

.tagline {
	position: absolute;
	bottom:10%;
	left: 50%;
	transform: translateX(-50%);
	color: #fff;
	line-height: 1.5em;
	opacity: 0.5;
	transition: all 1000ms ease-in;
}

#tagline:target .tagline {
	opacity: 0.75;
}

.billboard {
	position: relative;
	padding: 0;
	margin: 0;
	overflow: hidden;
	background-color:#DDA0DD;
	width: 100%;
	height: 70vh;
}

.banana {
	position: absolute;
	width: 60px;
	height:100px;
	left: 10%;
	display: block;
	opacity: 1;
	transition:all 2000ms ease-in;
	-webkit-animation:banana 5s linear infinite;
	animation:banana 5s linear infinite;
}

.banana:target {
	opacity: 0.5;	
}

@-webkit-keyframes banana{
	0% {-webkit-transform: rotate(0deg);top:0%;}
	50% {-webkit-transform: rotate(180deg); top:50%;}
	100% {-webkit-transform: rotate(360deg); top: 100%;}
}
@keyframes banana{
	0% {transform: rotate(0deg);top:0%;}
	50% {transform: rotate(180deg); top:50%;}
	100% {transform: rotate(360deg); top: 100%;}
}

.banana-two {
	position: absolute;
	width: 80px;
	height:100px;
	left: 40%;
	-webkit-animation:banana-two 6s linear infinite;
	animation:banana-two 6s linear infinite;
}

@-webkit-keyframes banana-two{
	0% {-webkit-transform: rotate(0deg);top:0%;}
	50% {-webkit-transform: rotate(-180deg); top:50%;}
	100% {-webkit-transform: rotate(-360deg); top: 100%;}
}

@keyframes banana-two{
	0% {transform: rotate(0deg);top:0%;}
	50% {transform: rotate(-180deg); top:50%;}
	100% {transform: rotate(-360deg); top: 100%;}
}

.banana-three {
	position: absolute;
	width: 50px;
	height:100px;
	left: 75%;
	-webkit-animation:banana-three 4s linear infinite;
	animation:banana-three 4s linear infinite;
}

@-webkit-keyframes banana-three{
	0% {-webkit-transform: rotate(0deg);top:0%;}
	50% {-webkit-transform: rotate(360deg); top:50%;}
	100% {-webkit-transform: rotate(720deg); top: 100%;}
}

@keyframes banana-three{
	0% {transform: rotate(0deg);top:0%;}
	50% {transform: rotate(360deg); top:50%;}
	100% {transform: rotate(720deg); top: 100%;}
}

.banana-four {
	display: none;

}

.banana-five {
	display: none;
}

.section-title {
	color: #800080;
	text-align:center;
}

.btn-notebook {
	padding:5px;
	background-color: #DDA0DD;
	color: #fff;
	text-transform: uppercase;
	border:none;
	float:right;


	transition:all 250ms ease-in;
}

.notebook {
	width: 100%;
}

.info-notebook {
	opacity:0;
}


.js-btn-notebook {
	opacity: 1;
}

.btn-stickers {
	padding:5px;
	background-color: #DDA0DD;
	color: #fff;
	text-transform: uppercase;
	border:none;
	float:right;

	transition: all 250ms ease-in;
}

.stickers {
	width:100%;
}

.info-stickers {
	opacity: 0;
}

.js-btn-stickers {
	opacity: 1;
}

.btn-tshirt {
	border:none;
	padding:5px;
	background-color: #DDA0DD;
	color: #fff;
	text-transform: uppercase;
	float: right;

	transition:all 250ms ease-in;

}

.info-tshirt {
	opacity:0;
}

.tshirt {
	width:100%;
}

.js-btn-tshirt {
	opacity: 1;
}


@media only screen and (min-width: 25em){

}

@media only screen and (min-width: 38em){

}

@media only screen and (min-width: 60em){

	.nav li {
		display: inline-block;
	}

.banana-four {
	display: block;
	position: absolute;
	width: 70px;
	height:100px;
	left: 90%;
	-webkit-animation:banana-four 7s linear infinite;
	animation:banana-four 7s linear infinite;
	}

@-webkit-keyframes banana-four{
	0% {-webkit-transform: rotate(0deg);top:0%;}
	50% {-webkit-transform: rotate(-180deg);top:50%;}
	100% {-webkit-transform: rotate(-360deg);top: 100%;}
}

@keyframes banana-four{
	0% {transform: rotate(0deg);top:0%;}
	50% {transform: rotate(-180deg);top:50%;}
	100% {transform: rotate(-360deg);top: 100%;}
}

.banana-five {
	display: block;
	position: absolute;
	width: 60px;
	height:100px;
	left: 60%;
	-webkit-animation:banana-five 5s linear infinite;
	animation:banana-five 5s linear infinite;
}

@-webkit-keyframes banana-five{
	0% {-webkit-transform: rotate(0deg);top:0%;}
	50% {-webkit-transform: rotate(-720deg);top:50%;}
	100% {-webkit-transform: rotate(-1440deg);top: 100%;}
}

@keyframes banana-five{
	0% {transform: rotate(0deg);top:0%;}
	50% {transform: rotate(-720deg);top:50%;}
	100% {transform: rotate(-1440deg);top: 100%;}
}
	
}