@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; } 

html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	-moz-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
	-o-text-size-adjust:100%;
	text-size-adjust:100%;
}

*.*::before, *::after; {
	box-sizing: inherit;
}

body{
	margin:0;
}

.masthead {
	overflow: hidden;
}

.nav {
	padding:0;
	display:none;
	overflow: hidden;
}

.nav li {
	display:block;
	color: #111;
	border-bottom: 1px solid #DDA0DD;
}

.btn-nav {
	display:block;
	float: right;
	border:none;
	outline: 1px solid #fff;
	background-color: #fff;
}

.toggle {
	width:30px;
	height:30px;
}

.js-btn-nav {
	display:block;
}

.name {
	text-transform: uppercase;
	text-align: center;
	line-height: 1em;
	position: absolute;
	top: 80%;
	left: 50%;
	transform:translateX(-50%);
	color: #fff;	
}

.tagline {
	position: absolute;
	bottom:10%;
	left: 50%;
	transform: translateX(-50%);
	color: #800080;
	opacity:0.5;
	line-height: 1.5em;
	text-align: center;
	
	-webkit-transition: all 1000ms ease-in;
	transition: all 1000ms ease-in;
}

#tagline:target .tagline {
	opacity: 0.75;
}

.story-btn {
	background-color: #DDA0DD;
	color: #fff;
	border: none;
	margin:1em;
	line-height: 1.5em;
	display: block;
	left: 50%;
}

.billboard {
	position: relative;
	padding: 0;
	margin: 0;
	overflow: hidden;
	background-color:#DDA0DD;
	width: 100%;
	height: 70vh;
}

.banana {
	position: absolute;
	width: 60px;
	height:100px;
	left: 10%;
	display: block;
	opacity: 1;

	-webkit-transition:all 2000ms ease-in;
	transition:all 2000ms ease-in;
	-webkit-animation:banana 5s linear infinite;
	animation:banana 5s linear infinite;
}

.banana:target {
	opacity: 0.5;	
}

@-webkit-keyframes banana{
	0% {-webkit-transform: rotate(0deg);top:0%;}
	50% {-webkit-transform: rotate(180deg); top:50%;}
	100% {-webkit-transform: rotate(360deg); top: 100%;}
}
@keyframes banana{
	0% {transform: rotate(0deg);top:0%;}
	50% {transform: rotate(180deg); top:50%;}
	100% {transform: rotate(360deg); top: 100%;}
}

.banana-two {
	position: absolute;
	width: 80px;
	height:100px;
	left: 40%;
	-webkit-animation:banana-two 6s linear infinite;
	animation:banana-two 6s linear infinite;
}

@-webkit-keyframes banana-two{
	0% {-webkit-transform: rotate(0deg);top:0%;}
	50% {-webkit-transform: rotate(-180deg); top:50%;}
	100% {-webkit-transform: rotate(-360deg); top: 100%;}
}

@keyframes banana-two{
	0% {transform: rotate(0deg);top:0%;}
	50% {transform: rotate(-180deg); top:50%;}
	100% {transform: rotate(-360deg); top: 100%;}
}

.banana-three {
	position: absolute;
	width: 50px;
	height:100px;
	left: 75%;
	-webkit-animation:banana-three 4s linear infinite;
	animation:banana-three 4s linear infinite;
}

@-webkit-keyframes banana-three{
	0% {-webkit-transform: rotate(0deg);top:0%;}
	50% {-webkit-transform: rotate(360deg); top:50%;}
	100% {-webkit-transform: rotate(720deg); top: 100%;}
}

@keyframes banana-three{
	0% {transform: rotate(0deg);top:0%;}
	50% {transform: rotate(360deg); top:50%;}
	100% {transform: rotate(720deg); top: 100%;}
}

.banana-four {
	display: none;

}

.banana-five {
	display: none;
}

.section-title {
	color: #800080;
	text-align:center;
	text-transform: uppercase;
}

.tabs {
	text-align: center;
	overflow: hidden;
	width:100%;
}

.tabs li {
	display:block;
	text-decoration: none;
	padding:5px;	
}

.tab-panel {
	display: block;
	position:relative;
	padding-top: 140%;
}

a:focus {
	outline: 2px solid #DDA0DD;
}

a {
	text-decoration: none;
	color:#800080;
}

.js-current {
	background-color:#DDA0DD; 
	color:#fff;
	padding:5px;
	display: block;
}

.panel {
	opacity:0;
	position: absolute;
	text-align: center;
	top: 0;

	-webkit-transition: all 250ms ease-in;
	transition: all 250ms ease-in;
}

.js-panel-visible {
	opacity: 1;
}

.notebook {
	width: 80%;
}

.img-stickers {
	width:80%;
}

.tshirt {
	width:80%;
}

.back-to-top{
	width:20%;
	position:absolute;
	margin: 1px;

	text-decoration: none;
	border: none;
	background-color:#DDA0DD;
	color: #fff;

}

.return {
	float: right;
	clear:right;
	display:inline-block;
}	

.profile {
	width:30%;
	height:30%;
	display:inline-block;

}

.arm {
	animation: wave 2s ease-in-out alternate infinite;
	transform-origin: bottom left;
	}

@keyframes wave {
	0%{
		transform:rotate(1deg);
	}

	100% {
		transform:rotate(-1deg);
	}
}


.description {
	text-align: center;
	display: inline-block;
}

@media only screen and (min-width: 25em){
	.tab-panel{
		padding-top:120%;
	}
}

@media only screen and (min-width: 38em){
	.tab-panel{
		padding-top:80%;
	}

}

@media only screen and (min-width: 60em){

.tab-panel{
		padding-top:70%;
	}	

.banana-four {
	display: block;
	position: absolute;
	width: 70px;
	height:100px;
	left: 90%;
	-webkit-animation:banana-four 7s linear infinite;
	animation:banana-four 7s linear infinite;
	}

@-webkit-keyframes banana-four{
	0% {-webkit-transform: rotate(0deg);top:0%;}
	50% {-webkit-transform: rotate(-180deg);top:50%;}
	100% {-webkit-transform: rotate(-360deg);top: 100%;}
}

@keyframes banana-four{
	0% {transform: rotate(0deg);top:0%;}
	50% {transform: rotate(-180deg);top:50%;}
	100% {transform: rotate(-360deg);top: 100%;}
}

.banana-five {
	display: block;
	position: absolute;
	width: 60px;
	height:100px;
	left: 60%;
	-webkit-animation:banana-five 5s linear infinite;
	animation:banana-five 5s linear infinite;
}

@-webkit-keyframes banana-five{
	0% {-webkit-transform: rotate(0deg);top:0%;}
	50% {-webkit-transform: rotate(-720deg);top:50%;}
	100% {-webkit-transform: rotate(-1440deg);top: 100%;}
}

@keyframes banana-five{
	0% {transform: rotate(0deg);top:0%;}
	50% {transform: rotate(-720deg);top:50%;}
	100% {transform: rotate(-1440deg);top: 100%;}
}