@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; } 

html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	-moz-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
	-o-text-size-adjust:100%;
	text-size-adjust:100%;
}

*.*::before, *::after; {
	box-sizing: inherit;
}

.masthead {
	overflow: hidden;
}

.nav {
	padding:0;
}

.nav li {
	display: block;
	color: #111;

}

.name {
	text-transform: uppercase;
	position: absolute;
	top: 60%;
	left: 40%;
	color: #fff;
	
}

.billboard {
	position: relative;
	padding: 0;
	margin: 0;
	overflow: hidden;
	background-color:#DDA0DD;
	width: 100%;
	height: 70vh;
}

.banana {
	position: absolute;
	width: 60px;
	height:100px;
	left: 10%;
	display: block;
	animation:banana 5s linear infinite;

}

@keyframes banana{
	0% {transform: rotate(0deg);top:0%;}
	50% {transform: rotate(180deg); top:50%;}
	100% {transform: rotate(360deg); top: 100%;}
}

.banana-two {
	position: absolute;
	width: 80px;
	height:100px;
	left: 40%;
	animation:banana-two 6s linear infinite;
}

@keyframes banana-two{
	0% {transform: rotate(0deg);top:0%;}
	50% {transform: rotate(-180deg); top:50%;}
	100% {transform: rotate(-360deg); top: 100%;}
}

.banana-three {
	position: absolute;
	width: 50px;
	height:100px;
	left: 75%;
	animation:banana-three 4s linear infinite;
}

@keyframes banana-three{
	0% {transform: rotate(0deg);top:0%;}
	50% {transform: rotate(360deg); top:50%;}
	100% {transform: rotate(720deg); top: 100%;}
}

.banana-four {
	display: none;

}

.banana-five {
	display: none;
}

@media only screen and (min-width: 25em){


}

@media only screen and (min-width: 38em){

	
}

@media only screen and (min-width: 60em){

	.nav li {
		display: inline-block;
	}

	.banana-four {
	display: block;
	position: absolute;
	width: 70px;
	height:100px;
	left: 90%;
	animation:banana-four 7s linear infinite;
}

@keyframes banana-four{
	0% {transform: rotate(0deg);top:0%;}
	50% {transform: rotate(-180deg);top:50%;}
	100% {transform: rotate(-360deg);top: 100%;}
}

.banana-five {
	display: block;
	position: absolute;
	width: 60px;
	height:100px;
	left: 60%;
	animation:banana-five 5s linear infinite;
}

@keyframes banana-five{
	0% {transform: rotate(0deg);top:0%;}
	50% {transform: rotate(-720deg);top:50%;}
	100% {transform: rotate(-1440deg);top: 100%;}
}
	
}